[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzx = "==0.6.4"
python-igraph = "==0.9.0"
numpy = "==1.20.1"
asgiref = "==3.3.1"
pyperclip = "==1.8.2"
pytz = "==2021.1"
sqlparse = "==0.4.1"
texttable = "==1.6.3"
typing-extensions = "==3.7.4.3"
Django = "==3.1.7"
qiskit = "*"

[dev-packages]

[requires]
python_version = "3.8"
