@font-face {
  font-family: Aquire;
  src: local(Aquire),
       url('./fonts/Aquire-BW0ox.otf') format("opentype");
}
.aquire {
  font-family: Aquire;
}
.nav-background {
/*  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(255,173,209,1) 15%, rgba(130,234,255,0.7259278711484594) 100%);*/
 background-image: linear-gradient(to bottom, #00b78f, #27c49e, #3cd2ad, #4edfbd, #5fedcc, #6af3df, #79f9f0, #8cffff, #affdff, #d6fbff, #f3fbff, #ffffff);
}

.foot-bg {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,255,248,1) 48%, rgba(0,0,0,1) 86%);
  height: 200px;
}

/*.anchor {
  padding-top: 83px;
  margin-top: -83px;
  display: inline-block;
}*/

#the-navbar {
  padding:19px 10px;
  font-size: 22px;
}

.circuit {
  max-width: 250px;
}

/*select {
  max-width: 250px;
}*/

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.main {
  padding-top: 30px;
}

a {
   text-decoration:none;
   color: inherit;
}

.fas, .fab {
  padding:30px;
  color:black;

}

.fas:hover,.fab:hover {
    color: white;
}

.flex-container {
  display: flex;
}

.last-paragraph {
  margin-bottom:0px;
}


/* lattice view styles */


/*html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}*/
#toolbar
{
    /* Make it independent of zoom */
  height: 10%;
  line-height: 10vh;
  font-size: 5vh;
  /* Keep it above the lattice */
  z-index: 100;
  position: relative;
  /* style */
  background-color: lavender;
  border-bottom: solid darkgrey 1.5vh;
}
#draggable-container{
  font-size: 0;
  z-index: 10;
}
.slice{
  display: none;
}
.lattice-cell{
  border: 0.5px solid #a2abae;
  height: 50pt;
  width: 50pt;
  display: inline-block;
  position: relative;
  font-size:10px;
}