{% extends 'lattice_main/base.html' %}
{% load lattice_main_tags %}

{% block content %}

<script>
$( function() {
  $( "#draggable-container" ).draggable();
} );
</script>
<script>
  document.selected_slice = 0
    $(document).ready(function(){
      $('#slice-'+document.selected_slice).show();
      $('#slice-number').text(document.selected_slice);
    });
    function change_slice(offset)
    {
      $('#slice-'+document.selected_slice).hide();
      document.selected_slice = Math.min(Math.max(0,document.selected_slice+offset),{{ slices|get_len }}-1);
      $('#slice-'+document.selected_slice).show();
      $('#slice-number').text(document.selected_slice);
    }
</script>

<div>
  <div id="toolbar">
    &nbsp;&nbsp;
    <span style="border: solid 0.5vh gray;">
      &nbsp;Select Time Slice:
      &nbsp;
      <a href="javascript:change_slice(-1)">Prev</a>
      &nbsp;<span id="slice-number"></span>&nbsp;
      <a href="javascript:change_slice(+1)">Next</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="javascript:(function(){$('#compilation-text').slideToggle()})()">Compilation</a>
      &nbsp;&nbsp;
    </span>
  </div>

  <!-- compilation visualization-->
  <div id="compilation-text" style="display: none">
      <pre>{{ compilation_text }}</pre>
  </div>

  <!-- slices -->
  <div id="draggable-container">
    {% for slice_number, array in slices|enum %}
      <div id="slice-{{ slice_number }}" class="slice">
        {% for row_idx, row in array|enum %}
          <div class="lattice-row">
            {% for col_idx, cell in row|enum %}
              <div class="lattice-cell">
                <div class="lattice-cell-inside"
                style="
                  height: 50pt;
                  width: 50pt;
                  vertical-align: middle;
                  display: inline-block;
                  border-width: 4pt;
                  border-style: solid;
                  {% if cell is not None and cell|cell_patch_type == patches|PatchType_Ancilla %}
                      border-color: white;
                  {% else %}
                      border-color: transparent;
                  {% endif %}
                  text-align: center;
                  {% if cell is not None %}
                      background-color: {{ cell|styles_map_cell_patch_type }};
                      {% for orientation, edge_type in cell|cell_edges_items %}
                          border-{{ orientation|styles_map_orientation }}-style: {{ edge_type|styles_map_edge_type }};
                          border-{{ orientation|styles_map_orientation }}-color: {{ edge_type|styles_map_edge_color_edge_type}};
                      {% endfor %}
                      {% if cell|cell_activity is not None %}
                          background-image:
                                  radial-gradient({{ cell|styles_map_activity_color_cell_activity_activity_type }} 7%,
                                  transparent 90%);
                      {% endif %}
                  {% endif %}
                "
                >
                  <span style="color: #686c6d">
                     ({{ col_idx }},{{ row_idx }})
                  </span><br>
                  <span>
                     {% if cell is not None and cell|cell_text is not None %}
                         {% autoescape off %}
                            <p class="qubit-state">
                                <span style="font-size: {{ cell | cell_font_size }}px"><b>{{ cell|cell_text }}</b></span>
                            </p>
                         {% endautoescape %}
                     {% endif %}
                  </span>

                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class='p-3'>
    <a href="{% url 'lattice_main-uploadcircuit' %}" class="btn btn-info p-2"> New Circuit </a>
  </div>
</div>

{% endblock content %}
