name: test

on:
  push:
    branches: [ master, dev ]
    paths-ignore:
      - '**.md'
      - 'debug/**'
      - 'assets/**'
      - 'docs/**'
  pull_request:
    branches: [ master, dev ]
    paths-ignore:
      - '**.md'
      - 'debug/**'
      - 'assets/**'
      - 'docs/**'

jobs:
  build:
    name: Build Package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        
    - name: Build package
      run: |
        pip install --upgrade pip build setuptools wheel
        python -m build

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Cache
      uses: actions/cache@v2.1.6
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}-${{ hashFiles('dev-requirements.txt') }}
    
    - name: Install dependencies
      run: |
        pip install --upgrade --upgrade-strategy eager -r dev-requirements.txt -e .
    
    - name: Test with pytest
      run: |
        if [[ ${{ matrix.python-version }} == '3.9' ]]; then
          pytest --cov=./ --cov-report=xml;
        else 
          pytest;
        fi
  
    - name: Save coverage report
      if: matrix.python-version == '3.9'
      uses: actions/upload-artifact@v2.2.4
      with: 
        name: coverage-report
        path: coverage.xml

  upload-coverage:
    name: Upload Coverage Report
    if: github.repository_owner == 'latticesurgery-com'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        
    - name: Download Coverage Report
      uses: actions/download-artifact@v2.0.10
      with:
        name: coverage-report
        
    - name: Upload to codecov
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
